<mat-toolbar class="toolbar-fixed">
  <div class="toolbar-container">
    <app-toolbar-sidenav-mobile-toggle (mobileOpenSidenav)="openSidenav.emit()"></app-toolbar-sidenav-mobile-toggle>
    <div style="display: flex; justify-content: center;">
      <mat-icon>flight_takeoff</mat-icon>
      <div class="title">Flight</div>
    </div>

    <div class="toolbar-end">
      <div style="margin-right: 10px;">
        Sign in
      </div>
      <button mat-button>
        GET START
      </button>
    </div>
  </div>
</mat-toolbar>
