<!-- toolbar -->
<ng-container>
  <ng-container *ngTemplateOutlet="toolbar"></ng-container>
</ng-container>

<!-- sidenav container -->
<mat-sidenav-container style="padding-top: 64px; height:calc(100vh-64px)">
  <mat-sidenav style="background-color: rgb(96, 102, 99);"
  (closedStart)="closeSidenav()" (openedStart)="openSidenav()"  (opened)="opened()" (closed)="closed()" mode="push"
  [opened]="sidenavOpen$ | async">
    我是左邊選單
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #toolbar>
  <app-toolbar (openSidenav)="openSidenav()"></app-toolbar>
</ng-template>
